*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw 4vw 3vw 1vw;
}

.logo img {
    height: 20vh;
    margin:0;
    padding: 0;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw;
  }

  .image {
    flex: 1;
  }
  .column {
    flex: 1;
    margin-left: 3vw;
    box-sizing: border-box;
    vertical-align: top;
}

/* .column img {
    max-width: 100%;
    height: auto;
} */

@media (max-width: 1024px) {
    .image,
    .column {
        flex: 100%;
        padding: 0;
    }
}



  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 5vh;
  }

  p {
    margin-bottom: 3vw;
    font-size: 3vh;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
      padding: 0;
    }
  }
  .return-button {
    display: block;
    margin-top: 5vh;
    padding: 10px 20px;
    font-size: 8vh;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }

  .return-button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #ff0000;
    color: #fff;
  }

.recipe-name {
    font-size: 5vh;
    font-weight: bolder;
}
.search-bar {
    flex-grow: 1;
    margin: 0 0 0 6vw;
    display: flex;
    align-items: center; 
}

input[type="text"] {
    background-color: #000000;
    color: #ffffff;
    height: 5vh;
    width: 100%;
    padding: 1vh 2vw; 
    border: none;
    border-radius: 1vh 0 0 1vh; 
    box-sizing: border-box;
    font-size: 1.3vw; 
}

.search-button {
    background-color: #ff0000;
    border: none;
    border-radius: 0 1vh 1vh 0;
    padding: 0.5rem 0.5rem; 
    margin-left: -1px; 
    height: 5vh; 
    width: 5vh;
}

.search-button img {
    width: auto; 
    height: auto; 
}

.search-button:hover {
    background-color: #ffa4a4;
    color: #ff0000;
}

.search-button:active {
    background-color: #ff0000;
}

body{
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
}
.menu {
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px,1fr));
    grid-gap: 0.3rem 0.1rem;
}

.heading{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
    grid-column: 1/-1;
    text-align:left;
}
.heading>h1{
    font-weight: 400;
    font-size: 10vw;
    margin-bottom: 10px;
    text-align: center;
}
.heading>h3{
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
}
.filter-bar {
    margin: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    max-width: 95vw; 
}

.filter-button {
    padding: 10px 20px;
    margin: 0.5vw;
    font-size: 2vw;
    border: none;
    transition: background-color 0.3s;
}


.filter-button:hover {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.filter-button:active {
    transform: scale(1.05);
    cursor: pointer;
}
.step-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: 0 20px;
    transition: transform 0.3s ease-in-out;
}

.step-items img {
    position: relative;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    padding: 0px 0px 15px 0px;
    border-radius: 15px 15px 0 0;
}

.details {
    padding: 10px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 3vh;
    top: 0;
}

.details-sub {
    display: grid;
    grid-template-rows: 1fr auto ; /* Equal height for both rows */
    height: 10vh; /* Set a fixed height for each .details-sub */
    margin: 0 0 1rem 0;
    
}

.details-sub > h5 {
    font-weight: 600;
    font-size: 2rem;
}

.details-sub > h6 {
    font-weight: 600;
    font-size: 1.5rem;
}

.details > p {
    color: #6f6f6f;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

/* Media Queries for Mobile */
@media (max-width: 767px) {
    .step-items {
        grid-template-columns: 1fr; /* Set to 1 column for mobile */
    }

    .details-sub > h5 {
        font-size: 2rem;
        padding: 0 2rem 0 0;
    }

    .detail-sub> h6 {
        font-size: 2rem;
    }
    

    .heading>h3 {
        font-size: 1.5rem;
    }
}

.footer {
    display: inline;
    margin-top: 6vh;
    height: 6rem;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer .copyright {
    flex: 1;
    text-align: center;
    font-size: 1.5rem; 
    font-weight:bolder;
    margin: 0;
}


.search-button:hover,
.filter-button:hover {
    cursor: pointer;
}

.step-menu {
    margin: 20px;
}

.checklist {
    list-style-type: none; 
    padding: 0; 
}

.checklist li {
    margin-bottom: 0.5em; 
}

/* Add some styling to the checkbox label for better visibility */
.checklist input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 0.5em;
}

/* Image */
nav .logo img{
 position:relative;
 left:21px;
}

/* Image */
nav .logo img{
 left:54px;
}

/* Navigation */
nav{
 display:flex;
 flex-wrap:nowrap;
 flex-direction:row;
}

/* Logo */
nav a{
 padding-right:49px;
}

/* List */
.heading ul{
 font-size:25px;
 transform:translatex(0px) translatey(0px);
}

/* Recipe des */
.heading p.recipe-des{
 transform:translatex(0px) translatey(0px);
}

/* Input */
.checklist li input[type=checkbox]{
 transform:scale(1.42);
 border-style:none;
}

/* Menu */
.menu{
 grid-template-columns:1fr 1fr 1fr;
 row-gap:37px;
 padding-left:3%;
 padding-right:3%;
 transform:translatex(0px) translatey(0px);
}

/* Heading */
.menu .heading{
 transform:translatex(0px) translatey(0px);
 margin-left:-50px;
 margin-right:-50px;
}

/* Menu */
.menu{
 row-gap:37px;
 column-gap:9px;
 margin-bottom:-22px;
 transform:translatex(0px) translatey(0px);
}

/* Details */
.menu .step-items .details{
 row-gap:22px;
}

/* Step items */
.menu .step-items{
 transform:translatex(0px) translatey(0px);
}

/* Heading */
.menu strong h5{
 margin-bottom:12px;
}

/* Details */
.menu strong .details{
 margin-left:3%;
 margin-right:3%;
}

@media (max-width:1024px){

 /* Link */
 .menu .heading a{
  margin-left:3% !important;
  margin-right:3% !important;
 }
 
 /* Menu */
 .menu{
  grid-template-columns:1fr 1fr;
 }
 
}

@media (max-width:767px){

 /* Menu */
 .menu{
  grid-template-columns:1fr !important;
 }
 
}

@media (max-width:1285px){

 /* Logo */
 nav a{
  position:relative;
  left:-8px;
 }
 
 /* Link */
 .menu .heading a{
  transform:scale(0.94);
 }
 
}

@media (max-width:1024px){

 /* Logo */
 nav a{
  position:relative;
  left:-16px;
 }
 
 /* Link */
 .menu .heading a{
  transform:scale(0.94);
 }
 
}

@media (max-width:767px){

 /* Image */
 nav .logo img{
  left:33px;
 }
 
 /* Logo */
 nav a{
  position:relative;
  left:4px;
 }
 
 /* Link */
 .menu .heading a{
  transform:scale(0.84);
  margin-top:31px;
 }
 
}
@media (max-width:1024px){

 /* Heading */
 .menu .heading h3{
  font-size:35px;
 }
 
}

@media (max-width:767px){

 /* Heading */
 .menu .heading h3{
  font-size:31px;
 }
 
}

@media (max-width:1024px){

 /* Heading */
 .menu .heading h3{
  font-size:3vw;
 }
 
}

@media (max-width:767px){

 /* Heading */
 .menu .heading h3{
  font-size:4vw;
 }
 
}

strong {
  font-weight: normal;
}

/* Input */
.checklist li input[type=checkbox]{
 filter: hue-rotate(129deg);
}

/* Header step */
.header_step{
 text-align:center;
 margin-top:50px;
 margin-bottom:50px;
}

body {
    overflow-x: hidden;
}