*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 4vw 3vw 1vw;
}

.logo img {
    height: 20vh;
    margin:0;
}
.container {
    display: flex;
    margin: 5vw;
  }

  .column {
    flex: 1;
    padding: 3vw;
    box-sizing: border-box;
}

.column img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .column {
        flex: 100%;
        padding: 0;
    }
}



  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 5vh;
  }

  p {
    margin-bottom: 3vw;
    font-size: 3vh;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
      padding: 0;
    }
  }
  .return-button {
    display: block;
    margin-top: 5vh;
    padding: 10px 20px;
    font-size: 8vh;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }

  .return-button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #ff0000;
    color: #fff;
  }

.recipe-name {
    font-size: 5vh;
    font-weight: bolder;
}
.search-bar {
    flex-grow: 1;
    margin: 0 0 0 6vw;
    display: flex;
    align-items: center; 
}

input[type="text"] {
    background-color: #000000;
    color: #ffffff;
    height: 5vh;
    width: 100%;
    padding: 1vh 2vw; 
    border: none;
    border-radius: 1vh 0 0 1vh; 
    box-sizing: border-box;
    font-size: 1.3vw; 
}

.search-button {
    background-color: #ff0000;
    border: none;
    border-radius: 0 1vh 1vh 0;
    padding: 1vh 2vw; 
    margin-left: -1px; 
    height: 5vh; 
}

.search-button img {
    width: 100%; 
    height: 100%; 
}

.search-button:hover {
    background-color: #ffa4a4;
    color: #ff0000;
}

.search-button:active {
    background-color: #ff0000;
}

body{
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
}
.menu {
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}

.heading{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
    grid-column: 1/-1;
    text-align:left;
}
.heading>h1{
    font-weight: 400;
    font-size: 10vw;
    margin-bottom: 10px;
    text-align: center;
}
.heading>h3{
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
}
.filter-bar {
    margin: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    max-width: 95vw; 
}

.filter-button {
    padding: 10px 20px;
    margin: 0.5vw;
    font-size: 2vw;
    border: none;
    transition: background-color 0.3s;
}


.filter-button:hover {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

.filter-button:active {
    transform: scale(1.05);
    cursor: pointer;
}
.step-items {
    display: grid;
    position: relative;
    grid-template-columns: 1fr; /* Set to 1 column by default */
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: 0 20px;
    transition: transform 0.3s ease-in-out;
}

.step-items img {
    position: relative;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 3vh;
    top: 0;
}

.details-sub {
    display: grid;
    grid-template-rows: 1fr 1fr ; /* Equal height for both rows */
    height: 10vh; /* Set a fixed height for each .details-sub */
}

.details-sub > h5 {
    font-weight: 600;
    font-size: 1.8vw;
}

.details-sub > h6 {
    font-weight: 600;
    font-size: 1vw;
}

.details > p {
    color: #6f6f6f;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

/* Media Queries for Mobile */
@media (max-width: 767px) {
    .step-items {
        grid-template-columns: 1fr; /* Set to 1 column for mobile */
    }
}

.footer {
    margin-top: 6vh;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    left: 10vw;
    width: 10vw;
    padding-left: 2vw;
}

.footer p {
    padding-right: 5vw;
    font-size: 2vw;
    font-weight:bolder;
}

.footer .copyright {
    flex: 1;
    text-align: center;
    font-size: 1.5vw; 
    font-weight:bolder;
    margin: 0;
}


.search-button:hover,
.filter-button:hover {
    cursor: pointer;
}
